* text=auto eol=lf

*.sh text eol=lf
*.ps1 text eol=crlf
*.applescript text eol=lf

*.ppt binary
*.pptx binary
*.pptm binary
*.potx binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
